<div class="search_bar">
    <form id="formAnimeSearch">
        <input type="text" id="inputAnimeSearch" placeholder="Search anime...">
        <button id = "btnAnimeSearch">Search</button>
        <button id = "btnResetSearch">X</button>
    </form>
</div>
