<div id="divLogin" class = "row">
    <div id="user"><i ></i></div>
    <label for="inputName" style="display: none">Username</label>
    <input id="inputName"  type="text"  placeholder="Username">

    <label for="inputPassword"  style="display: none">Password</label>
    <input id="inputPassword" type="password"  placeholder="Password">

    <button type="submit" id="buttonSubmitLogin"><span >Login</span></button>
</div>

<div id = "divLoggedIn" style="display: none" class = "row">
    <div class = "dropdown row">
        <span id = "spanUsername">Guest</span>
    </div>
</div>

<div id = "divWaitingLogin" style="display: none" class = "row">
    <span>Loading...</span>
</div>
