<nav class="navbar">
    <div class="nav-left">
        {{> off_canvas_menu}}
    </div>

    <div class="nav-center">
        {{> search_bar}}
    </div>

    <div class="nav-right">
        <div id = "containerLogin">
            {{> login}}
        </div>
    </div>
</nav>
