<!-- Hamburger button -->
<nav id = "buttonHamburger">
    <button id = "btnHamburger">☰</button>
</nav>

<!-- Offcanvas menu -->
<div id="menuOffCanvas" class="side-menu">
    <div>
        <h5 >Menu</h5>
    </div>

    <div>
        <ul>
            <li ><a id="menu-home"> Home</a></li>
            <li ><a id="menu-trending">🔥 Trending</a></li>
            <li ><a id="menu-top">🏆 Top 20</a></li>
            <li ><a id="menu-recent">🕒 Recent</a></li>
        </ul>
    </div>
</div>
