<div class="container mt-4">
    <form id="search-form" class="input-group">
        <input type="text" id="search-input" class="form-control" placeholder="Search anime...">
        <button class="btn btn-primary">Search</button>
    </form>
</div>
