/*      Navbar section        file: navbar.hbs */
.navbar {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  height: 60px;
  width: 100%;

  align-items: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-center {
  justify-content: center;
  min-width: 0;
  overflow: hidden;
}


.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0;
}

/*      Login Section       file: login.hbs */
#containerLogin{
  display: flex;
  flex-direction: row;
}

#divLogin, #divLoggedIn, #divWaitingLogin{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

/*      Left side menu Section      file: off_canvas_menu.hbs */
/* Hamburger-MenuOffCanvas */
#btnHamburger{
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;            /* hidden outside */
  width: 250px;
  height: 100vh;
  background: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;  /* animation */
  z-index: 1950;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
  cursor: pointer;
}

/*      Catalogs Section      file: catalog.hbs */
#mainCatalogContainer{
  flex-direction: column;
  padding-top: 80px;
}

.main_catalog_header{
  background-color: rgba(255, 255, 255, 0.5);
}
.catalog_container{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 auto;

  max-width: 1200px;
}

.catalog{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  row-gap: 5px;
  column-gap: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;

  align-content: start; /* Evita stretching delle animeCrads*/
}
#mainLeftSide{}
#mainRightSide{}
#mainCatalog{}


/*      Anime_card Section       file: catalog.hbs <script> */
.anime_card{
  display: flex;
  flex-direction: column;

  padding: 10px;
  cursor: pointer;

  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  min-height: 250px;
  max-height: 250px;
  max-width: 250px;

  transition: max-height 0.2s ease, max-width 0.2s ease, opacity 0.5s ease;
  overflow: hidden;

  align-self: start; /* si sitemano subito senza stretcharsi*/
}

.anime_card_details{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, max-width 0.2s ease, opacity 0.5s ease;

}

.stats_container{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, max-width 0.2s ease, opacity 0.5s ease;
}

.anime_card img{
  width: 100%;
  height: 100%;
  max-height: 220px;

  object-fit: cover;
}

.anime_card.open {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 0 auto;

  grid-column: 1 / -1;             /* espande su tutta la row */
  max-height: 600px;
  max-width: none;

  opacity: 1;
}

.anime_card_details.open{
  max-height: 600px;
  opacity: 1;
}

.stats_container.open{
  max-height: 600px;
  opacity: 1;
}

.anime_card.open img{
  width: auto;
  height: auto;
}

.anime_card p{
  margin: 2px 0;
  line-height: 1.2;
}

#anime_card_voices{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
  gap: 1px;
}

.actor_img {
  max-width: 27px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 1px;
  margin-bottom: 2px;
}

/*        Filter search Section        file: catalog_filter.hbs */
#filtersBar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

#filtersBar select,
#filtersBar input,
#filtersBar button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#filtersBar button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#filtersBar button:hover {
  background-color: #005fcc;
}

#orderContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btnOrderByOrientation {
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}



/*      Overlay Section        file: off_canvas_menu.hbs */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 1900;
}

#overlay.show {
  display: block;
}

/*      Main div container      file: index.hbs */
#divBackground{

  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp4712646.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 130vh;

  padding-bottom: 60px;
}



a {
  color: #00B7FF;
}
p{
  padding: 1px;
}
body {}

.show{
  display: block;
}
.hidden{
  display: none;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
#app {
  width: 100%;
  position: relative;
}
