
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-center {
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
}



#divLogin{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#row{
  display: flex;
  flex-direction: row;
}


/* Hamburger-MenuOffCanvas */
#btnHamburger{
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;            /* hidden outside */
  width: 250px;
  height: 100vh;
  background: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;  /* animation */
  z-index: 1950;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
  cursor: pointer;
}

/* Catalog */
.catalog_container{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 auto;

  min-height: 500px;
  max-width: 1200px;
}

.catalog{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 5px;
  column-gap: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;

  align-content: start; /* Evita stretching delle animeCrads*/
}
#mainLeftSide{}
#mainRightSide{}
#mainCatalog{}


/* Anime_card*/
.anime_card{
  display: flex;
  flex-direction: column;

  padding: 10px;
  cursor: pointer;

  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  min-height: 80px;
  max-height: 80px;
  max-width: 250px;

  transition: max-height 0.3s ease;
  overflow: hidden;

  align-self: start; /* si sitemano subito senza stretcharsi*/
}

.anime_card.open {
  grid-column: 1 / -1;             /* espande su tutta la row */
  max-height: 600px;
  max-width: none;
}

.anime_card p{
  margin: 2px 0;
  line-height: 1.2;
}


/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 1900;
}

#overlay.show {
  display: block;
}

/* Main div container */
#divBackground{
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp4712646.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}



a {
  color: #00B7FF;
}

p{
  padding: 1px;
}

body {

}

.show{
  display: block;
}
.hidden{
  display: none;
}